 <table >
      <tr align="center">
          <td>Admin Page</td> 
      </tr>
     <tr>
     <td> 
  <table border="2">
      <tr  align="center">
        <th colspan="8">Users Details Database</th> 
      </tr>
<tr> 
  <th>Name</th>
  <th>UserName</th>
  <th>Email</th>
  <th>CardType</th>
  <th>Dob</th>
  <th>CardType</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.dob}}</td>
    <td>{{user.cardType}}</td>
    
</tr>
</tbody>
</table>
     </td>
     </tr>
</table>
