<form>
  
  <div class="p-3 mb-2 bg-success text-white">
  <div class="container">
    <div class="shift_middle" *ngIf="otpScreen">
      <div class="mb-3">
      <h2 style="text-align:center">FORGOT PASSWORD</h2>
      <label class="Username"><b>Username</b></label>
      <input class="padding_textbox" [(ngModel)]="user.userName" type="text" placeholder="Username" id="username" name="username"><br>
      <button type="button" class="Get Otp" (click)="sendOtp();">Get Otp</button><br>
    
  
      <label class="Enter Otp"><b>Enter Otp</b></label>
      <input class="padding_textbox" [(ngModel)]="user.otp" type="text" placeholder="Enter Otp" id="otp" name="otp"><br>
      <button type="button" class="Verify Otp" (click)="verifyOtp();">Verify Otp</button>
       </div>
    </div>
    </div>
    </div>
  
    <div class="shift_middle" *ngIf="otpScreen==false">
      
      <div class="p-3 mb-2 bg-success text-white">
      <div class="container">
      <div class="mb-3">
      <h2 style="text-align:center">CHANGE PASSWORD</h2>
      <label class="Username"><b>Username</b></label>
      <input class="padding_textbox" [(ngModel)]="user.userName" type="text" placeholder="Username" id="username" name="username"><br>
      <label class="Password"><b>Password</b></label>
      <input class="padding_textbox" [(ngModel)]="user.password" type="password" placeholder="Password" id="password" name="password"><br>
      <label class="Confirm Password"><b>Confirm Password</b></label>
      <input class="padding_textbox" [(ngModel)]="user.cpassword" type="password" placeholder="cpassword" id="cpassword" name="cpassword"><br>
      <button (click)="passwordUpdate();">Update Password</button>
      </div>
    </div>
    </div>
    </div>
    
   
  </form>
