<form>
    <div class="shift_middle" *ngIf="otpScreen">
      <h2 style="text-align:center">FORGOT PASSWORD</h2>
      <label class="Username"><b>Username</b></label>
      <input class="padding_textbox" [(ngModel)]="user.userName" type="text" placeholder="Username" id="username" name="username"><br>
      <button type="button" class="Get Otp" (click)="sendOtp();">Get Otp</button><br>
    
  
      <label class="Enter Otp"><b>Enter Otp</b></label>
      <input class="padding_textbox"type="text" placeholder="Enter Otp"name="Enter Otp"><br>
      <button type="button" class="Verify Otp" (click)="verifyOtp();">Verify Otp</button>
      
    </div>

    <div class="shift_middle" *ngIf="otpScreen==false">
      <h2 style="text-align:center">CHANGE PASSWORD</h2>
      <label class="Username"><b>Username</b></label>
      <input class="padding_textbox" [(ngModel)]="user.userName" type="text" placeholder="Username" id="username" name="username">
      <label class="Password"><b>Password</b></label>
      <input class="padding_textbox" [(ngModel)]="user.password" type="text" placeholder="Password" id="password" name="password">
      <label class="Confirm Password"><b>Confirm Password</b></label>
      <input class="padding_textbox" [(ngModel)]="user.cpassword" type="text" placeholder="cpassword" id="cpassword" name="cpassword">
      <button class="Verify Otp" (click)="passwordUpdate();">Update Password</button>
      
    </div>
  </form>
