.image{

    height:200px;
    width:200px;
    padding:10px;
    
}
.margin{
    padding: 100px;
    background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg");
    background-size: cover;
}

