
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Finance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
         <ul class="nav justify-content-end">
            <li class="nav-item">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left"[routerLink]="['/products']">Products</button>
            </li>
          
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left"[routerLink]="['/index']">Logout</button>
          </li>
        
      </ul>
      </div>
    </div>
  </nav>
  
<div class="box2">
    <h2 style="text-align:center">DashBoard</h2>
    <div class="box" width="300px">
        <label class="name"><b>CARD Number:{{cardNumber}}</b></label><br> 
        <label  for="name"><b>Name :{{name}}</b></label><br>
    <label  for="Phone number"><b>Valid till :{{vaildTill}}</b></label><br>
        <label  for="Card Type"><b>CardType :{{cardType}}</b></label><br>
    <h4 class="box1">ACTIVATED</h4> 
    </div>
    <div style="padding:10px">
      <p><b>TOTAL CREDIT:</b> {{totalCredit}}</p>
      <p><b>CREDIT USED:</b> {{creditUsed}}</p>
      <p><b>REMAINING CREDIT:</b> {{remainingCredit}}</p>

    </div>
    <div style="text-align:center">
        
    <P><b>PRODUCTS PURCHASED</b></P>
    <P><b>AMOUNT: </b>{{amount}}</P>
    </div>
    <div style="padding:10px">
    <P><b>PRODUCT NAME: </b>{{productName}}</P>
    <P><b>PAID: </b>{{paid}}</P>
    <P><b>BALANCE: </b>{{balance}}</P>
    </div>
    <div style="padding:20px">
    <p>RECENT TRANSACTIONS</p>
    </div>
    <div>
    <table style="margin-left:100px;width: 700px;">
        <tr>
          <th style="border:1px solid white;width:15%;height:50px">PRODUCT</th>
          <th style="border:1px solid white;width:15%;height:50px">DATE</th>
          <th style="border:1px solid white;width:15%;height:50px">AMOUNT PAID</th>
        </tr>
        <tr *ngFor="let trans of transactionList">
            <td style="border:1px solid white;width:15%;height:50px">{{trans.productName}}</td>
            <td style="border:1px solid white;width:15%;height:50px">{{trans.date}}</td>
            <td style="border:1px solid white;width:15%;height:50px">{{trans.amountPaid}}</td>
          </tr>
        
      </table>
      </div>
    </div>
