
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Finance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
         <ul class="nav justify-content-end">
            <li class="nav-item">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left"[routerLink]="['/products']">Products</button>
            </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
<div class="box2">
    <h2 style="text-align:center">DashBoard</h2>
    <div class="box">
        <label class="name"><b>CARD NUMBER</b></label>
        <input class="padding_textbox" type="text" placeholder="Card Number" name="Name" required>
        <label  for="name"><b>Name</b></label>
        <input class="padding_textbox" type="text" placeholder="Enter Name" name="Name" required>
    <label  for="Phone number"><b>Valid till</b></label>
        <input class="padding_textbox" type="text" placeholder="MM/YY" name="Phone number" required>
        <label  for="Card Type"><b>cardtype</b></label>
    
        <input type="radio" id="gold" name="type" value="Gold">
    <label for="html">GOLD</label>
    <input type="radio" id="titanium" name="type" value="Titanium">
    <label for="html">Titanium</label>
    
    <h4 class="box1">ACTIVATED</h4> 
    </div>
    <div style="padding:10px">
    <p>TOTAL CREDIT:40,000</p>
    <P>CREDIT USED:</P>
    <P>REMAINING CREDIT:</P>
    </div>
    <div style="text-align:center">
        
    <P>PRODUCTS PURCHASED</P>
    <P>AMOUNT:</P>
    </div>
    <div style="padding:10px">
    <P>PRODUCT NAME:</P>
    <P>PAID:15,000</P>
    <P>BALANCE:25,000</P>
    </div>
    <div style="padding:20px">
    <p>RECENT TRANSACTIONS</p>
    </div>
    <div>
    <table style="margin-left:400px">
        <tr>
          <th style="border:1px solid white;width:15%;height:50px">PRODUCT</th>
          <th style="border:1px solid white;width:15%;height:50px">DATE</th>
          <th style="border:1px solid white;width:15%;height:50px">AMOUNT PAID</th>
        </tr>
        <tr>
            <th style="border:1px solid white;width:15%;height:50px"></th>
            <th style="border:1px solid white;width:15%;height:50px"></th>
            <th style="border:1px solid white;width:15%;height:50px"></th>
          </tr>
        
      </table>
      </div>
    </div>
